.Rproj.user
.Rhistory
.Ruserdata

# History files
.Rhistory
.Rapp.history

# Session Data files
.RDataTmp

# All types of relevant datafile and contents of data folder

*.RDS
*.xlsx
*data/*
*reports/*
*.docx